NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
ADMIN_INVITE_CODE=change-me-admin
VOLUNTEER_INVITE_CODE=change-me-volunteer
NEXT_PUBLIC_SITE_URL=http://localhost:3000
# optional:
# SUPABASE_SERVICE_ROLE_KEY=
